@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&family=Cinzel:wght@400;500;600;700;800;900&family=Lora&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;800;900&family=Raleway:wght@100;200;300;400&family=Rubik:wght@300;400&display=swap');



.home {
    height: 92vh;
    background-color: #EEEEEE;
}


.hero-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 60px;
}

@media only screen and (max-width:450px) {
    .hero-title {
        font-size: 40px;
        padding-top: 10px;
    }

}

.hero-title span {
    color: #818cf8;
}

.hero-des {
    font-family: 'Montserrat', sans-serif;
}

.home-share {
    width: 25px;
    height: 25px;
    color: #818cf8;
}

.portfolio-img {
    transform: scale(0.8);
    border: 2px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    position: relative;
    transition: all 1s ease-in-out;
    animation: portfolio 8s ease-in-out infinite;
    width: 400px;
    height: 400px;
    object-fit: cover;

}

@media only screen and (max-width:400px) {
    .portfolio-img {
        width: 300px;
        height: 300px;
    }

}

@keyframes portfolio {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

}