.work {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.work span {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    padding-top: 50px;
    color: #818cf8;

}

.project {
    display: flex;
    justify-content: center;
    width: 100%;
    transition-duration: 1000ms;
    padding-top: 40px;
    padding-bottom: 40px;

}



.project-row {
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    display: flex;
    width: 75%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 20px;
}




@media only screen and (max-width:790px) {

    .project-row {
        width: 90%;
        margin-bottom: 40px;
        height: fit-content;
    }

    .project {
        padding-bottom: 0%;


    }

    .work span {
        font-size: 30px;
    }

    .project-des {
        padding-bottom: 20px;
        gap: 8px;
    }



}

/* .project-img {
    border-radius: 20px;
    overflow: hidden;
    height: auto;
    position: relative;


}

.project-img img {
    width: 100%;
    height: auto;

}

.project-img:hover {
    transform: translateY(0%);
    transition: transform 10s ease-in-out 0s;
} */

.project-img {
    width: 100%;
    height: 350px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-bottom: 24px;
    margin-top: 24px !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
    border-radius: 20px;
    padding: 0% !important;
}

.project-img img {
    object-fit: cover;
    width: 100%;
    transform: translateY(0);
    transition: 10s ease-out;
    height: auto;
}

.project-img:hover img {
    object-fit: cover;
    transform: translateY(calc(-100% + 400px));
    transition: transform 10s ease-in-out 0s;
}


.project-des {
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project-des button {
    background-color: #818cf8;
    border: none;
    margin: 0%;
}

.project-des button:hover {
    background-color: #818cf8;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.project-des h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0%;

}

.project-des p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2px;
    font-weight: 400;
    padding-bottom: 0%;
    margin-bottom: 0%;
}



/* #skill */

.skill-con {
    margin-top: 50px;
}

.skill-img {
    width: 40px;
    height: 40px;
    transition: 2s;
    border-radius: 50%;

}


.skill-img:hover {
    transform: translateY(-1.1rem) scale(1.2);

}

@media only screen and (max-width:450px) {

    .project-img {
        width: 90% !important;
    }

    .skill-img {
        width: 30px;
        height: 30px;

    }

    .skill-sec {
        margin-bottom: -30px;
    }

    .skill-head {
        padding-right: 0%;
        padding: 0%;
    }

}

@media only screen and (max-width:330px) {
    .skill-con {
        margin-top: 0px !important;
        margin-bottom: 50px;
    }

    .skill-con div {
        text-align: center;
    }

    .skill-sec {
        margin-top: 20px;
    }

}



.skill-head {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: medium;
    color: #000000;
    padding-right: 30px;
    align-items: center;
    margin-bottom: 5px;
}


@media only screen and (max-width:450px) {
    .skill-p {
        margin-top: -37px;
    }

}